.actor_container {
	width: 50%;

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $header-color;
		margin: 1em 0;
		padding: 0;
	}

	.actors_item {
		display: flex;
		padding: 2vh;
		justify-content: stretch;
		border: 2px;

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.description {
			padding-left: 5vh;
			width: 100%;

			.title_rating {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&_link {
					text-decoration: none;
					color: #111111;

					&:hover {
						cursor: pointer;
						color: $active-link-color;
					}
				}

				h3 {
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.filmography {
		padding-left: 2vh;

		ul {
			list-style-type: none;

			li {
				padding-top: 10px;

				.movie_link {
					margin: 5px;
					text-decoration: none;
					color: black;

					&:hover {
						color: $header-color;
					}
				}
			}
		}
	}
}
