.content {
	display: flex;
	min-height: 87vh;

	.inner {
		//display: flex;
		//justify-content: center;
		//max-width: 80%;
		//min-width: 80%;
		//padding: 3vh 0 5vh 0;
	}
}


.center{
	width: 100%;
	display: flex;
	justify-content: center;
}
