.content{
	display: flex;
	justify-content: center;

	.inner{
		display: flex;
		justify-content: center;
		min-width: 80%;
		max-width: 80%;
		padding-top: 3vh;
		padding-bottom: 3vh;
		background: #c6d9d0;

	}
}
