.layout {
	&__header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 7vh;
		min-width: 100%;
		padding: 0 2vh 0 2vh;
		background: $header-color;
		position: fixed;
		z-index: 1;

		.buttons {
			display: flex;
			align-items: center;
			height: 100%;
			padding-right: 3vh;
		}

		.logo {
			display: flex;
			align-items: center;
			padding-left: 5vh;
			padding-right: 5vh;
			height: 100%;
			font-weight: bold;
			text-decoration: none;
			color: #FFFFFF;

			&:hover {
				cursor: pointer;
			}

		}

		.item {
			display: flex;
			align-items: center;
			padding-left: 2vh;
			padding-right: 2vh;
			height: 100%;
			font-weight: bold;
			font-size: 120%;
			text-decoration: none;
			color: #FFFFFF;

			&:hover {
				cursor: pointer;
				background: $active-link-color;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		background: rgba(35, 221, 222, 0.31);
		padding: 2vh 15vh 2vh 15vh;
		font-weight: 600;
		bottom: 0;
		margin-top: 20px;
	}
}
