.layout {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 7vh;
		min-width: 100%;
		padding: 0 2vh 0 2vh;
		background: #23ddde;
		position: fixed;

		&__buttons {
			display: flex;
			align-items: center;
			height: 100%;
			padding-right: 3vh;
		}

		&__logo {
			font-size: 180%;
			padding-left: 5vh;
		}

		&__item {
			display: flex;
			align-items: center;
			padding-left: 2vh;
			padding-right: 2vh;
			height: 100%;
			font-weight: 600;
			font-size: 120%;
			text-decoration: none;
			color: #FFFFFF;

			&:hover {
				cursor: pointer;
				background: #00b1d9;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		background: rgba(35, 221, 222, 0.31);
		padding: 2vh 15vh 2vh 15vh;
		font-weight: 600;

		&__item {
//TODO
		}
	}
}
