.movies_container {
	display: flex;
	justify-content: stretch;
	min-height: 100%;
	width: 100%;

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $header-color;
		margin: 1em 0;
		padding: 0;
	}

	.filter {
		display: flex;
		//min-width: 30vh;
		width: auto;
		height: auto;
		margin-right: 2vh;
		margin-top: 2vh;
		padding: 4vh;
		justify-content: space-around;
		border: 1px solid $header-color;
		position: fixed;

		.genres_list {
			ul {
				list-style-type: none;
				-webkit-padding-start: 0;

				li:not(:last-child) {
					margin-bottom: 4px;
				}
			}

			.item_active {
				font-weight: bold;
				cursor: pointer;
			}

			.item_inactive {
				font-weight: bold;
				cursor: pointer;
				color: #7e8883;
				opacity: 0.7;
				&:hover {
					color: #111111;
					opacity: 1;
				}
			}
		}

		.filter_options {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.sorts{
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: 120%;

				&_item{
					display: flex;
					justify-content: space-between;
				}
			}

			.range_inputs_item {
				padding-bottom: 30px;
				width: 25vh;
				text-align: center;
				position: inherit;

			}

			.button {
				background-color: $header-color;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				position: inherit;
				bottom: 0;
				max-width: 10vh;

				&:hover {
					cursor: pointer;
					background-color: $active-link-color;
				}
			}
		}
	}

	.movies_list {
		width: 100%;
		padding-left: 40vh;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}

	.movies_item {
		display: flex;
		padding: 2vh;
		justify-content: stretch;
		border: 2px;

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.description {
			padding-left: 2vh;
			width: 100%;

			.title_rating {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&_link {
					text-decoration: none;
					color: #111111;

					&:hover {
						cursor: pointer;
						color: $active-link-color;
					}
				}

				h3 {
					margin: 0;
					padding: 0;
				}
			}
		}

	}

}

.rating {
	  min-height: 80px;
	  min-width: 80px;
	  height: 80px;
	  width: 80px;
	  border-radius: 50%;
	  border: 3px solid $header-color;
	  line-height: 80px;
	  text-align: center;
	  font-weight: bold;
	font-size: 135%;
  }

//TODO спиннер!!
