.movies_container {
  display: flex;

  hr {
    border-top: 1px solid #23ddde;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filter__container {

  }

  .filter {
    display: flex;
    min-width: 230px;
    max-width: 230px;
    min-height: 300px;
    max-height: 300px;
    padding: 4vh;
    justify-content: space-around;

    .filter_options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .sorts {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 120%;

        &_item {
          display: flex;
          justify-content: space-between;
        }
      }

      .range_inputs_item {
        text-align: center;
        padding-bottom: 15px;
      }

    }
  }

  .movies_list {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 30px 0 30px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .movies_item {
    display: flex;
    justify-content: stretch;
    border: 2px;

    img {
      max-width: 300px;
      max-height: 445px;
    }

    .description {
      padding-left: 2vh;
      width: 100%;

      .title_rating {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_link {
          text-decoration: none;
          color: #111111;

          &:hover {
            cursor: pointer;
            color: $active-link-color;
          }
        }

        h3 {
          margin: 0;
          padding: 0;
        }
      }
    }

  }

}

.rating {
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid $header-color;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 135%;
}

.button {
  background-color: $header-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: inherit;
  bottom: 0;
  max-width: 10vh;

  &:hover {
    cursor: pointer;
    background-color: $active-link-color;
  }
}
