.pagination_wrap {
	width: 100%;
	display: flex;
justify-content: center;

	.pagination {
		display: inline-block;

		a {
			color: black;
			float: left;
			padding: 8px 16px;
			text-decoration: none;
		}

	}

	.pagination a.active {
		background-color: #07bc0c;
		color: white;
	}

	.pagination a:hover:not(.active) {
		background-color: #ddd;
		cursor: pointer;
	}
}
