@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

@import "_constants";
@import "components/_app";
@import "components/_md-input";
@import "components/_auth";
@import "components/_layout";
@import "components/_container";
@import "components/_movies";
@import "components/_pagination";
@import "components/_movie";
@import "components/_review";
@import "components/_profile";
@import "components/_actor";
@import "components/_actors";
@import "components/_recommendations";
@import "components/_random-movie";
@import "components/_movie-create-form";

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header{
	height: 7vh;
}

.footer{
	height: 7vh;
}

.header__items{
	height: 7vh;
	display: flex;
}

.link {
	text-decoration: none;
	color: black;

	&:hover {
		color: $header-color;
	}
}
